

.tile{
    max-width: 300px;
    height: auto;
    padding: 15px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.tile:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 15px;
    border-radius: 20px;
    
}

.propertyImg{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
}

